:root{
  box-sizing: border-box;

}

*,
::before,
::after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body{
  background: #eee;
  font-family: sans-serif;
  margin-top: 1em; /* dont be practicing this */
}

body * + * {
  margin-top: 1em;
}

header{
  background: #ff5f5f;
  color: #fcfcfc;
  padding: 1em;
  border-radius: .4rem;
}

.container{
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 1em;
  border-radius: .4rem;
}

main{
 background: #fff;
 padding: 1em 1.2em;
 border-radius: .4rem;
}

.card{
  background: #ffaaaa;
  border-radius: .4rem;
  padding: 2em .8em;
  margin: 0 1.5em 1.2em 0;
  min-height: 12rem;
  /** float **/
  float: left;
  width: calc(50% - 1.5em);
}

.card:nth-child(odd){
  clear: left;
}

.card-count{
  background:#ff5f5f;
  padding: .8em;
  border-radius: .4rem;
}


.clearfix{
  clear: both;
}
.clearfix::after,
.clearfix::before{
  display: table;
  content: '';
  clear: both;
}




